@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdc;
}
.container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.container .card{
    width: 100%;
    background: #fff;
}
.container .card .imgBx{
    position: relative;
    width: 100%;
    height: 310px;
}


 /* https://youtu.be/Kir_B9mkLig    Para continuar clique aqui no minuto 7:00 */